server {
  # Redirect http -> https.
  listen 80;
  server_name {{ sandstorm_hostname }} *.{{ sandstorm_hostname }};
  return 301 https://$host$request_uri$is_args$args;
}

# For WebSocket forwarding, we want to forward the `Connection` header.
# This "map" declaration helps with that.
map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}


# Configuration for Sandstorm shell.
server {
  listen 443 ssl;
  server_name {{ sandstorm_hostname }} {{ sandstorm_wildcard_host }};

  error_log /var/log/nginx/{{ sandstorm_hostname }}/error.log;
  access_log /var/log/nginx/{{ sandstorm_hostname }}/access.log;

  # https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=nginx-1.6.2&openssl=1.0.1k&hsts=yes&profile=modern
  # as of Oct 18 2015

  ssl on;
  ssl_certificate {{ssl_certificate_path}};
  ssl_certificate_key {{ssl_certificate_key_path}};

  ssl_session_timeout 5m;
  ssl_session_cache shared:SSL:10m;

  ssl_session_tickets off;

  # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
  ssl_dhparam /etc/nginx/ssl/dhparam.pem;

  ssl_protocols TLSv1.1 TLSv1.2;
  ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK';
  ssl_prefer_server_ciphers on;

  # OCSP Stapling
  # fetch OCSP records from URL in ssl_certificate and cache them
  ssl_stapling on;
  ssl_stapling_verify on;

  ## verify chain of trust of OCSP response using Root CA and Intermediate certs
  ssl_trusted_certificate {{ssl_trusted_certificate_path}};

  # HSTS (15768000 seconds = 6 months)
  add_header Strict-Transport-Security "max-age=15768000; includeSubdomains";

  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options nosniff;
  add_header X-Download-Options noopen;

  server_tokens off;

  resolver 8.8.8.8 8.8.4.4 valid=300s;
  resolver_timeout 5s;

  # Allow large spk uploads from the /install form and allow grains to receive large uploads.
  client_max_body_size 256M;

  location / {
    proxy_pass http://127.0.0.1:{{ sandstorm_port }};

    # Forward the Host header, which is used to route requests for
    # static content published from Sandstorm apps.
    proxy_set_header Host $http_host;

    # Forward WebSocket.
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
  }

  error_page 502 /502.html;
  location = /502.html {
    root  /var/www/;
  }
}


{% if sandstorm_onion %}
# Configuration for Sandstorm Onion
server {
  listen 127.0.0.1:8080;

  error_log /var/log/nginx/sandstorm_onion_proxy/error.log;
  access_log /var/log/nginx/sandstorm_onion_proxy/access.log;

  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options nosniff;
  add_header X-Download-Options noopen;

  server_tokens off;

  # TODO: do we need to set a resolver?
  #resolver 8.8.8.8 8.8.4.4 valid=300s;
  #resolver_timeout 5s;

  # Allow large spk uploads from the /install form and allow grains to receive large uploads.
  client_max_body_size 256M;

  location / {
    proxy_pass http://127.0.0.1:{{ sandstorm_port }};

    # This allows access to the sandstorm shell, but not the
    # grains because sandstorm uses the configured
    # BASE_URL/WILDCARD_HOST to configure the iframes. looks like
    # we really need support for multiple BASE_URL/WILDCARD_HOST
    # entries
    proxy_set_header Host {{ sandstorm_hostname }};

    # Forward the Host header, which is used to route requests for
    # static content published from Sandstorm apps.
    proxy_set_header Host $http_host;

    # Forward WebSocket.
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
  }

  error_page 502 /502.html;
  location = /502.html {
    root  /var/www/;
  }
}
{% endif %}
